@model IEnumerable<BankTransactions.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>All Transactions</h1>

<div class="d-flex justify-content-end">
    <a asp-action="AddOrEdit" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i> New</a>
</div>

<table class="table table-hover table-responsive">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeneficiaryName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeneficiaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            
            <td>
                <div class="btn-group-sm">
                        <a asp-action="AddOrEdit" asp-route-id="@item.TransactionId" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>

                        <a asp-action="Delete" asp-route-id="@item.TransactionId" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record?')"><i class="fa-solid fa-trash-alt"></i></a>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
